.tag{
    /* background-color: coral; */
    border-radius: 5px;
    border: 1px solid ;
    width:auto;
    padding: 5px;
    margin-right:3px ;
    margin-bottom: 10px;
}

.spine{
    margin: 0 auto;
}
/* .list:hover{
    scale: 1.2;
} */